<!DOCTYPE html>
<html>
<head>
    <title>Visualization</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
	<main style="display: flex; flex-direction: column; align-items: center; padding: 20px;">
		<section>
			<h2>Rate</h2>
			<p>{{matched_percentage}}%</p>
		</section>
		<section style="margin-bottom: 20px;">
			<h2></h2>
			<canvas id="chart" style="border: 1px solid #333; height:60vh; width:33vw"></canvas>
		</section>
	</main>


    <script>
        const chartData = {{ chart_data | tojson }};
        const ctx = document.getElementById("chart").getContext("2d");
        const chartOptions = {
            responsive: true,
      		maintainAspectRatio: true,
      		scales: {
        		y: {
          			beginAtZero: true
        		}
      		}
        };
        new Chart(ctx, {
            type: "bar",
            data: chartData,
            options: chartOptions
        });
    </script>
</body>
</html>