absl-py==1.4.0
astunparse==1.6.3
bcrypt==4.0.1
blis==0.7.9
cachetools==5.3.0
catalogue==2.0.8
charset-normalizer==3.1.0
click==8.1.3
confection==0.0.4
cryptography==40.0.2
cycler==0.11.0
cymem==2.0.7
en-ner-bionlp13cg-md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_ner_bionlp13cg_md-0.5.1.tar.gz
et-xmlfile==1.1.0
filelock==3.10.7
Flask @ file:///C:/b/abs_ef16l83sif/croot/flask_1671217367534/work
Flask-Cors @ file:///tmp/build/80754af9/flask_cors_1614875208036/work
flatbuffers==23.3.3
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
fonttools==4.38.0
future @ file:///C:/b/abs_3dcibf18zi/croot/future_1677599891380/work
gast==0.4.0
google-auth==2.17.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.53.0
h5py==3.8.0
huggingface-hub==0.13.3
idna==3.4
importlib-metadata==6.1.0
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///C:/b/abs_7cdis66kl9/croot/jinja2_1666908141852/work
joblib==1.2.0
jwt==1.3.1
keras==2.11.0
kiwisolver==1.4.4
langcodes==3.3.0
libclang==16.0.0
llvmlite==0.39.1
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.5.3
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186163140/work
mkl-service==2.4.0
mpi4py @ file:///C:/b/abs_ddwxd3grn5/croot/mpi4py_1671223377731/work
murmurhash==1.0.9
nltk==3.8.1
numba @ file:///C:/b/abs_e53pp2e4k7/croot/numba_1670258349527/work
numpy==1.21.6
oauthlib==3.2.2
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==23.0
pandas==1.3.5
pathy==0.10.1
Pillow==9.5.0
preshed==3.0.8
protobuf==3.19.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.10.2
PyMySQL==1.0.3
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
regex==2022.10.31
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.0.2
scipy==1.7.3
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open==6.3.0
spacy==3.4.4
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spatial==0.2.0
srsly==2.4.6
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
thinc==8.1.9
threadpoolctl==3.1.0
tokenizers==0.13.3
torch==1.12.1
tqdm==4.65.0
transformers==4.27.4
typer==0.7.0
typing-extensions @ file:///C:/b/abs_89eui86zuq/croot/typing_extensions_1669923792806/work
urllib3==1.26.15
wasabi==0.10.1
Werkzeug==2.2.3
wincertstore==0.2
wrapt==1.15.0
zipp==3.15.0
